<html>

  <body>
      <h1>What's your name?:</h1>

      <form action="/login" method="POST">
        <input type="text" name="username" />
        <input type="submit" value="enter" />
      </form>

  </body>
</html>
